body
{
    margin: 0px;
}
#contain
{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 5%;
}
#canvas
{
    background-image: url("https://gitlab.com/ui-programming-22-23/project-krystian-sendyk/-/raw/main/assets/img/background.png?inline=false");
    background-size: 100%;
    border: 1px solid #000000;
    display: inline;
    max-height: 70vh;
    max-width: 100vw;
}
#button
{
    margin-left: 80%;
    width: 5%;
    height:10%
}
#button2
{
    margin-left: 88%;
    width: 5%;
    height:10%
}

/*Form*/
div#modal
{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content 
{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}